<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

		<link rel="stylesheet" href="/styles/queries.css" />
		<link rel="icon" href="../public/images/logo.png" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<script defer src="/scripts/global.js"></script>
	</head>
	<body>
		<div class="logo">
			<button class="toggle-slider" state="close">
				<i class="fa-solid fa-bars"></i>
			</button>
			<span>Nimble Nexus</span>
			<p class="sub-heading">Queries</p>
		</div>

		<%- include('components/navbar') %>
		<!-- update from here -->

		<div class="queires">
			<div class="search-bar">
				<div class="search">
					<input type="text" placeholder="Search Queries" />
					<i class="fa-solid fa-magnifying-glass"></i>
				</div>
			</div>

			<% function renderReply(reply) { %>
			<div
				class="query-container"
				dataset="comment-<%= reply.parentReplyId %>"
				id="reply-<%= reply._id %>">
				<div class="query-card">
					<div class="query-header">
						<div class="query-indetifier">
							<img src="/images/logo.png" class="profile-pic" />
							<span class="profile-name"
								><%= reply.userName %></span
							>
						</div>
					</div>

					<p class="query-body"><%= reply.desc %></p>
				</div>
				<% if(reply.replies.length > 0) { %> <%
				reply.replies.forEach(renderReply); %> <% } %>
			</div>
			<% } %> <% queries.forEach(query => { %>
			<div
				class="query-container opened parent"
				id="comment-<%= query._id %>">
				<div class="query-card">
					<div class="query-header">
						<div class="query-indetifier">
							<img src="/images/logo.png" class="profile-pic" />
							<span class="profile-name"
								><%= query.userName %></span
							>
						</div>
						<span class="notice-name"
							>Notice Name: <%= query.noticeName %></span
						>
						<span class="department"
							>Dep: <%= query.noticeDep %></span
						>
					</div>

					<h2 class="title"><%= query.title %></h2>
					<p class="query-body"><%= query.desc %></p>
					<div class="query-footer">
						<div
							class="helpful"
							onclick="toggleLike('<%= query._id %>')">
							<%= query.likes %> Found Helpful
						</div>
						<div class="reply">
							<i class="fa-solid fa-reply"></i>
							<a href="/upload_reply/<%= query._id %>">Reply</a>
						</div>
						<div class="replies">
							<%= query.replies.length %> Replies
						</div>
					</div>
				</div>
				<% if(query.replies.length > 0) { %> <%
				query.replies.forEach(renderReply); %> <% } %>
			</div>
			<% }); %>
		</div>
	</body>
</html>
