<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

		<link rel="stylesheet" href="/styles/upload_query.css" />
		<link rel="icon" href="../public/images/logo.png" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<script defer src="/scripts/global.js"></script>
	</head>
	<body>
		<div class="logo">
			<button class="toggle-slider" state="close">
				<i class="fa-solid fa-bars"></i>
			</button>
			<span>Nimble Nexus</span>
			<div class="sub-heading">Add Query</div>
		</div>

		<%- include('components/navbar') %>
		<!-- update from here -->
		<div class="container">
			<div class="notice-part">
				<div class="form-title">Asking Query On</div>
				<hr />
				<div class="notice-data" id="<%= selected_notice.imageId %>">
					<div class="notice-title mar">
						<span class="bold">Title:</span>
						<span class="not-bold"
							><%= selected_notice.title %></span
						>
					</div>
					<div class="notice-desc mar">
						<span class="bold">Description:</span>
						<span class="not-bold"
							><%= selected_notice.desc %></span
						>
					</div>
					<div class="notice-dep mar">
						<span class="bold">Department:</span>
						<span class="not-bold"
							><%= selected_notice.department %></span
						>
					</div>
					<div class="notice-date mar">
						<span class="bold">Date:</span>
						<span class="not-bold"
							><% let date = new
							Date(selected_notice.creation_date); let
							formattedDate = date.getDate() + ' - ' +
							(date.getMonth() + 1) + ' - ' + date.getFullYear();
							%> <%= formattedDate %></span
						>
					</div>
				</div>
			</div>
			<form
				method="post"
				action="/upload_query/<%= noticeId %>/<%= noticeName %>/<%= noticeDep %>"
				class="forms">
				<div class="form-title">Reply</div>
				<hr />
				<label for="title">Title:</label>
				<input
					id="title"
					type="text"
					class="input-field"
					name="title"
					required />

				<label for="desc">Description:</label>
				<input
					id="desc"
					type="text"
					class="input-field"
					name="desc"
					required />

				<button class="submit" type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>

<!--  -->
