<div class="notices">
	<div class="search-bar">
		<div class="search">
			<input type="text" placeholder="Search Notices" />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
	</div>

	<div class="sub-notices">
		<div class="heading-dep">Dep</div>
		<div class="heading-notice">Notices</div>
		<div class="heading-date">Date</div>
		<div class="heading-down">Add Query</div>

		<div
			class="notice-content"
			style="grid-template-rows: repeat(<%= notices.length %>, 10%)">
			<% notices.forEach(notice => { %> <% if (notice.department ===
			notice_name) { %>
			<div class="notice-data" id="<%= notice.imageId %>">
				<span><%= notice.department %></span>
				<p><%= notice.title %></p>
				<span
					><% let date = new Date(notice.creation_date); let
					formattedDate = date.getDate() + ' - ' + (date.getMonth() +
					1) + ' - ' + date.getFullYear(); %> <%= formattedDate
					%></span
				>
				<a
					class="add-query"
					href="/upload_query/<%= notice._id %>/<%= notice.title %>/<%= notice.department %>">
					<i class="fa-solid fa-plus"></i>
				</a>
			</div>
			<% } %> <% }); %>
		</div>
	</div>
</div>
